.formContato{
    background-color: #0e0b2b;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    border: solid 3px black;
  }
  
  .formContato:hover{
    transform: scale(1.05);
  }
  
  .contactArea {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-family: "Pixelify Sans", sans-serif;
    gap: 4px;
  }

  .infoUser{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
  }

  .contactText{
    width: 50%;
    padding: 10px;
    font-family: "Pixelify Sans", sans-serif;
    border: solid 3px black;
    background-color: #0e0b2b;
    border-radius: 15px;
    font-size: 20px;
    margin-right: 20px;
   }

   form {
    width: 100%; 
    box-sizing: border-box; 
  }

  textarea .textBox .sendBtn{
    width: 100%;
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total */
  }

  textarea {
    background: #100b35;
    opacity: 0.9;
    color: white;
    border: solid 1px white;
    margin-bottom: 10px; /* Espaço entre o textarea e o botão */
    resize: none; /* Impede o redimensionamento do textarea */
    width: 100%;
  }

  .sendBtn {
    background-color: #0e0b2b;
    border: none;
    border: solid 1px white;
    color: white;
    cursor: pointer; /* Adiciona um cursor pointer para o botão */
  }
  
  .textBox {
    background: #100b35;
    border: none;
    opacity: 0.9;
    color: white;
    border: solid 1px white;
    padding: 10px; /* Adiciona padding para o input */
    box-sizing: border-box;

  }
  